<% provide(:title, 'About Us') %>

<h1>About Us</h1> 
<p>
<a href="#">Danny Tran</a> is a founder of StudentJumpStart and Computer Science Undergraduate student, Co-President of Computer Science Undergraduate Advisory Committee(CSUAC) at the University of Colorado Boulder where his focuse is to help students learn practical skills outside of classes and connect with Boulder and Denver startup community. Danny Tran is also a 2012 Startup Summer Program Graduate.
</p>

<!-- <p>
<a href="#">Haojie Hang</a> is Co-founder and CTO of StudentJumpStart and Computer Science Masters student at the University of Colorado Boulder. He does research in location-based service and applied natural language processing for Twitter and also keeps his eyes on entrepreneurship events in Boulder and Denver area. His industrial experience include Microsoft, IBM and eBay.
</p>  -->
