<footer class="footer">
<nav>
  <ul>
    <li><%= link_to "About", about_path %></li>
    <li><a href="#">Privacy</a></li>
    <li><a href="#">Terms</a></li>
    <li><%= link_to "Contact", contact_path %></li>
    <li><a href="#">FAQs</a></li>
  </ul>
</nav>

<small>
Copyright © 2013 StudentJumpStart
</small>

</footer>
